@use "../../include-media" as *;

.logo-collect {
}

.logo-collect .logo-collect--heading {
    padding: 100px 30px 0 30px;
    font-size: calc(var(--fsz-base-u) * 1.8);
    text-align: center;
}

.logo-collect .logo-collect--form {
    padding: 0 5vw;

    .ant-card {
        border: none;
        border-radius: 15px;
        box-shadow: var(--clr-gsop-5) 0 2px 10px 1px;
        padding: 2vh 0 0 2vw;
        margin: 50px 0;
        overflow: hidden;
    }

    .ant-upload-drag {
        height: 200px;
        padding: 0 15px;
    }

    .ant-upload-drag-icon svg {
        transform: scale(2.2);
    }

    .ant-card-head-title {
        font-size: calc(var(--fsz-base-u) * 1.6);
    }

    .ant-formily-item-label-content {
        padding-right: 10px;
    }

    *:not(.ant-formily-item-asterisk),
    .ant-upload .ant-upload-text,
    *::after,
    *::before {
        color: var(--clr-gs-7);
        fill: var(--clr-gs-7);
        background-color: var(--clr-gs-0_5);
    }

    .ant-radio-button-wrapper {
        height: 50px;
        display: inline-flex;
        align-items: center;
        span {
            transition: all 300ms ease-in-out;
        }
        width: 140px;
    }

    @include media($xs...) {
        .ant-radio-button-wrapper:last-child {
            border: 1px solid var(--clr-gs-5);

            &::before {
                width: 0;
                height: 0;
            }
        }
    }

    @include media("<medium") {
        .ant-formily-item {
            flex-wrap: wrap;
        }

        .ant-formily-item-label {
            flex: 0 0 100%;
            max-width: 100%;
            justify-content: flex-start;
            margin-bottom: 15px;
        }
        .ant-formily-item-control {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    .ant-radio-button {
        width: 140px;
    }

    .ant-radio-button-wrapper-checked {
        &,
        span {
            background-color: var(--clr-blue-u);
            color: white;
        }
    }

    .ant-formily-item {
        margin-bottom: 50px;
    }

    .ant-formily-item-error-help {
        margin-top: 10px;
        font-size: calc(var(--fsz-base-u) * 0.8);
    }

    .ant-formily-item-label-content label {
        white-space: pre-wrap;
    }

    .logo-collect--button-group {
        margin: 80px 0;
        justify-content: space-around;
        padding: 0 20vw;
        flex-wrap: wrap;
    }

    .logo-collect--submit,
    .logo-collect--reset {
        height: 50px;
        width: 250px;
        margin: 15px 0;
    }

    .logo-collect--submit {
        &,
        span {
            color: white;
            background-color: var(--clr-blue-u);
        }
    }

    input,
    textarea {
        font-size: 18px;
    }
}

.ant-modal-footer .ant-btn {
    height: 40px;
    width: 120px;
}

.logo-collect--note {
    margin-top: 50px;
    text-align: center;
    padding: 0 20vw;
    font-size: calc(var(--fsz-base-u) * 0.8);
    color: var(--clr-gs-4);
}

@include media("<medium") {
    .logo-collect--note {
        padding: 0 5vw;
    }
}
