@use "../../include-media" as *;
$fadeInTime: 500ms;

.card {
    opacity: 1;
    transform: none;
    flex-direction: column;
    transition: transform $fadeInTime ease-in-out, opacity $fadeInTime ease-in-out;
}

.card--hidden {
    opacity: 0;
    transform: translate(0, 25%);
}

.card--image-mask {
}

.card--image-mask--icon {
    width: 60px;
    height: 60px;
    stroke: white;
    fill: transparent;
    stroke-width: 0.75px;
}

.card--image-mask--text {
    font-size: calc(1.25 * var(--fsz-base-u));
}

@include media($xs...) {
}
