//* Shared CSS classes
.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.container-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
