@use "../../include-media" as *;

.heading {
    margin: calc(var(--scale) * 24px) 0;
    span {
        font-weight: bold;
        font-size: calc(var(--scale) * 2.5 * var(--fsz-base-u));
        color: var(--clr-gs-6);
    }
}
