.anima-heading {
    .anima-heading--rs {
        font-size: calc(var(--scale) * 1.1 * var(--fsz-base-u));
        font-weight: normal;
        position: relative;
    }

    .anima-heading--subtitle {
        position: relative;
    }

    .anima-heading--line {
        width: 2px;
        height: calc(var(--scale) * 20px);
        margin: 0 calc(var(--scale) * 10px);
        background-color: var(--clr-gs-4);
        border-radius: 2px;
        position: relative;
        top: 1px;
    }

    .anima-heading--title {
    }
}
