@use "../../include-media" as *;

.resouces {
    height: 100%;
    background: var(--clr-gs-0_5);
    box-shadow: var(--clr-gsop-5) 0px 4px 12px 0px;
}

.resources--content-wrapper {
    overflow: auto;
    transition: opacity 400ms ease-in-out;

    box-shadow: var(--clr-gsop-5) 0px -1px 12px 0px;
    clip-path: inset(-30px 0 0 0);
    z-index: 0;
    padding: calc(var(--scale) * 28px);
}
//* 标签页面板内容过渡
.resources--tab-pane {
    transition: opacity 400ms ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: none;
    }
}
.resources--active-tab-pane {
    animation: fadeIn 600ms ease-in-out;
}

.resources--offices--loc-card {
}

//* 标签页页签
.resources--tab-wrapper--tab {
    background-color: var(--clr-gs-2);
    transition: background-color 400ms ease-in-out;

    padding: calc(var(--scale) * 18px);
    // 页签文本
    span {
        color: var(--clr-gs-5);
        font-weight: bold;
        font-size: calc(var(--scale) * 1.2 * var(--fsz-base-u));
        transition: color 300ms ease-in-out, transform 400ms ease-in-out;
    }

    // 页签图标
    svg {
        width: calc(var(--scale) * 60px);
        height: calc(var(--scale) * 60px);
        fill: var(--clr-gs-4);
        transition: fill 300ms ease-in-out, transform 400ms ease-in-out;
    }
}

//* 激活时的标签
.resources--active-tab-wrapper .resources--tab-wrapper--tab {
    background-color: var(--clr-gs-0_5);
    // 页签文本
    span {
        color: var(--clr-blue-vary);
    }

    // 页签图标
    svg {
        fill: var(--clr-blue-vary);
    }
}

//* 设置激活页签的阴影
.resources--active-tab-wrapper {
    clip-path: inset(0 -30px 0 -30px);
    box-shadow: var(--clr-gsop-5) 0px 0 12px 0.5px;
    z-index: 1;
}

.resources--active-tab-wrapper:first-child {
    clip-path: inset(0 -30px 0 0);
}

.resources--active-tab-wrapper:last-child {
    clip-path: inset(0 0 0 -30px);
}

//* 页签激活时过渡
.resources--tab-wrapper:not(.resources--active-tab-wrapper):hover {
    span,
    svg {
        transform: scale(1.1);
    }
}

@include media($lg...) {
}

@include media($md...) {
}

@include media($sm...) {
}

@include media($xs...) {
}
