.purpose {
    background: var(--clr-gs-0);
    box-shadow: var(--clr-gsop-5) 0px 4px 12px 0px;
    border-image: linear-gradient(115deg, var(--clr-blue) 0%, var(--clr-megenta) 120%) 2;
    border-style: solid;
    border-width: 3px;
    padding: calc(var(--scale) * 25px) calc(var(--scale) * 36px);

    color: var(--clr-gs-6);
    height: 100%;
}

%purposeElemBase {
    margin: 10px 0;
}

.purpose--title {
    font-size: calc(var(--scale) * 1.75 * var(--fsz-base-u));
    color: var(--clr-blue);
    font-weight: bold;
}

.purpose--sep-line {
    @extend %purposeElemBase;
    width: 20%;
    height: 2px;
    background-color: var(--clr-gs-1);
    margin: calc(var(--scale) * 24px) 0;
}

.purpose--descrip {
    @extend %purposeElemBase;
    font-size: calc(var(--scale) * 0.85 * var(--fsz-base-u));
    font-weight: 400;
}

.purpose--function-heading {
    @extend %purposeElemBase;
    color: var(--clr-blue);
    font-size: calc(var(--scale) * 1.25 * var(--fsz-base-u));
    font-weight: bold;
}

.purpose--functions {
    @extend %purposeElemBase;
}

.purpose--functions--item {
    margin: 5px 0;
    font-size: calc(var(--scale) * 0.85 * var(--fsz-base-u));
    font-weight: 400;
}

.purpose--functions--item::marker {
    font-size: calc(var(--scale) * 0.75 * var(--fsz-base-u));
    font-weight: bold;
    font-style: italic;
    color: var(--clr-gs-3);
}

@media (prefers-color-scheme: dark) {
    .purpose--title,
    .purpose--function-heading {
        color: var(--clr-blue-vary);
    }
}
