.main {
}

// 轮播图
.main--carousel {
    height: 100%;
    width: 100%;
    position: fixed;
    user-select: none;

    // 轮播图内容指示器
    .main--carousel--dots {
        margin: 0 auto;
        left: auto;
        right: 5%;
        width: 150px;
        align-items: center;

        // 所有内容项
        li {
            margin: 0 10px;
            height: 20px;
            display: flex;
            align-items: center;
            // 内容项按钮
            button {
                opacity: 0.5;
                width: 15px;
                height: 15px;
                border-radius: 2px;
                background-color: white;
            }
        }

        // 激活的内容项
        li.slick-active {
            margin: 0 10px;
            width: 20px;
            // 激活的内容项按钮
            button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20px;
                height: 20px;
                color: var(--clr-blue);
                font-size: 15px;
                font-weight: bold;
            }
        }
    }
}

// * 下拉指示器
.main--scroll-down {
    position: absolute;
    bottom: 10px;
    margin: auto;
    left: 50%;
    cursor: pointer;
    transition: transform 300ms ease-in-out;
}

.main--scroll-down:hover {
    transform: scale(1.25);
}

.main--scroll-down--icon {
    z-index: 100;
    width: 20px;
    height: 20px;
    fill: rgba(255, 255, 255, 0.5);
}

@keyframes blink {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

.main--scroll-down--icon--upper {
    transform: translate(0, 10px);
    animation: blink 3s ease-in-out infinite;
}

.main--scroll-down--icon--lower {
    animation: blink 3s ease-in-out 1.5s infinite;
}

//*主页内容区
.main--content {
    z-index: 101;
    position: relative;
    top: 100vh;
    background-color: var(--clr-gs-0_5);
}

//*中心概况
.main--overview {
    padding: 60px 20px 30px 20px;
    height: 700px;
    overflow-x: clip; //*裁剪掉因过渡动画需求而translate出区域的元素
    // overflow-y: scroll;
}

//*中心简介区域
.main--overview--purpose {
    opacity: 0;
    transform: translate(-40%);
    transition: opacity 700ms ease-in-out, transform 1s ease-in-out;
}

//*中心资源详情区域
.main--overview--resources {
    width: 100%;
    height: 100%;
    padding-left: 24px;

    opacity: 0;
    transform: translate(40%);
    transition: opacity 700ms ease-in-out, transform 1s ease-in-out;
}

//* 用来展示过渡动画
.main--elem--visible {
    opacity: 1;
    transform: none;
}

//* 板块通用样式类
.main--section {
    padding: 24px 10px;
}

.main--section--heading {
    margin: 24px 0;
    span {
        font-weight: bold;
        font-size: calc(2.2 * var(--fsz-base));
        color: var(--clr-gs-6);
    }

    span.main--section--heading--plus {
        margin: 0 20px;
        color: var(--clr-gs-4);
        font-size: calc(1.8 * var(--fsz-base));
    }
}

//* 新闻板块
.main--news {
    background-color: var(--clr-bg-cream);
}

.main--news--row {
    width: 100%;
}

.main--news--col {
    width: 100%;
    padding: 12px 10px;
}

.main--news--col--news-pic {
    aspect-ratio: 16 / 9;
}

//* 活动板块

.main--events--row {
    height: 550px;
}

.main--events--col {
    height: 100%;
    padding: 12px 10px;
}

.main--events--pic {
    height: 100%;
}

.main--events--card {
    height: 100%;
}

//* 导师和成员板块
.main--mentors-and-members {
    background-color: var(--clr-bg-cream);
}

.main--mentors {
}

.main--mentors--heading {
    padding-left: 24px;
}

.main--mentors--row {
    padding: 12px;
}

.main--mentors--row--col {
    width: 100%;
    padding: 12px 12px;
}

.main--mentors--row--col--pic {
    width: 100%;
    aspect-ratio: 9/11;
}

.main--members {
}

.main--members--heading {
    padding-left: 24px;
}
