@use "../include-media" as *;

.navbar {
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    user-select: none;

    transition: all 500ms ease-in-out;
}

//*两种navbar样式
.navbar--within-splash {
    background-image: linear-gradient(
        0deg,
        rgba(69, 69, 69, 0) 0%,
        rgba(52, 52, 52, 0.39) 70%,
        rgba(0, 0, 0, 0.6) 100%
    );
    box-shadow: none;
    padding: 10px 20px 40px 10px;
}

.navbar--outof-splash {
    background-color: var(--clr-blue-bg);
    box-shadow: 0 2px 4px 1px var(--clr-gsop-5);
    padding: 10px 20px 15px 10px;
}

.navbar--logo-link-wrapper {
    width: 200px;
    max-width: 50%;
}

.navbar--logo {
    width: 100%;
}

.navbar--menu {
    flex: 1;
}
.navbar--menu--item {
    fill: white;
    color: white;
    text-shadow: 0px 2px 5px var(--clr-gsop-5);
    margin: 0 20px;
    position: relative;
    cursor: pointer;

    transition: all 300ms ease-in-out;

    @include media(">medium", "<1150px") {
        margin: 0 10px;
    }
}

.navbar--menu--item--line {
    // * 将指示线移除文档流，防止菜单项错位
    position: absolute;
    bottom: -4px;
    height: 2px;
    width: 0px;
    background-color: white;
    box-shadow: 0px 2px 5px var(--clr-gsop-5);
    transition: width 400ms ease-in-out;
}

.navbar--menu--item:hover .navbar--menu--item--line {
    width: 38px;
}

.navbar--menu--item:hover:not(.navbar--menu--item--menu) {
    transform: scale(1.25);
    color: white;
}

//* 处理语言/地区菜单项呼吸切换效果
@keyframes easing-language {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 0.9;
    }
    50% {
        opacity: 1;
    }
    85% {
        opacity: 0.9;
    }
    100% {
        opacity: 0;
    }
}

.navbar--menu--item--language--animation {
    animation: easing-language 3.5s linear;
}

.navbar--menu--item--language {
    width: 100px;
    opacity: 0;
    cursor: default;
}

.navbar--menu--item--language--icon-wrapper {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 16px;
}

.navbar--menu--item--language--icon {
    width: 8px;
    height: 8px;
    opacity: 0;
    fill: white;
    filter: drop-shadow(0 1px 3px var(--clr-gsop-6));
    transform: scale(0);
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.navbar--menu--item--language:hover .navbar--menu--item--language--icon {
    opacity: 1;
    transform: scale(2);
}

.navbar--menu--item--language--overlay {
    padding: 10px;
    top: calc(100% + 16px);
    background-color: var(--clr-gsop-3);
    border-radius: 5px;
}

.navbar--menu--item--language--overlay--item {
    font-size: 0.75em;
    text-align: center;
    cursor: pointer;
    width: 100%;
    margin: 3px 0;
    transition: margin 400ms ease-in-out, text-shadow 400ms ease-in-out;
}

.navbar--menu--item--language--overlay--item:hover {
    margin: 6px 0;
    text-shadow: 0px 2px 3px #287eccee;
}

.navbar--menu--item--search svg,
.navbar--menu--item--menu svg {
    width: 28px;
    height: 28px;
    filter: drop-shadow(0 2px 5px var(--clr-gsop-5));
}

.navbar--menu--item--menu {
    display: none;
}

.navbar--menu--item--menu--overlay {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;

    background-color: var(--clr-blue-bg);

    padding: 10px 0;

    .navbar--menu--item {
        margin: 10px 0;
        width: 50%;
        span {
            text-align: center;
            font-size: calc(1.1 * var(--fsz-base));
        }
    }

    //* LOGO
    .navbar--menu--item--menu--overlay--logo-wrapper {
        width: 100%;
        img {
            width: 50%;
            max-width: 400px;
            min-width: 250px;
        }
        border-bottom: 1px white solid;
    }
}

@include media("<large") {
    .navbar--menu--item:not(.navbar--menu--item--language):not(.navbar--menu--item--search):not(.navbar--menu--item--menu) {
        display: none;
    }
    .navbar--menu--item--menu--overlay .navbar--menu--item {
        display: inline-flex !important;
    }
    .navbar--menu--item--menu {
        display: flex;
    }
}

@include media("<medium") {
    .navbar--menu--item {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@include media("<small") {
    .navbar--menu--item--language {
        width: 80px;
        span {
            font-size: calc(0.8 * var(--fsz-base-u));
        }
    }

    .navbar--menu--item {
        margin-left: 5px;
        margin-right: 5px;
    }
}
