.head-news {
    aspect-ratio: 16/7;
    padding: calc(var(--scale) * 36px) 0;

    border-top: 1px solid var(--clr-gs-3);
    border-bottom: 1px solid var(--clr-gs-3);

    flex-direction: row-reverse;

    .ant-image {
        flex: 0 0 70%;
        width: 100%;
        height: 100%;
        clip-path: inset(0 0 0 0);
        // box-shadow: var(--clr-gsop-5) 0 3px 10px 0px;
    }
}

.head-news:hover {
    .head-news--image {
        transform: scale(1.05);
    }
}

.head-news--image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 400ms ease-in-out;
}

.head-news--content {
    margin-right: 20px;
}

.head-news--title {
    color: var(--clr-gs-6);
    font-weight: bold;
    font-size: calc(var(--scale) * 1.5 * var(--fsz-base-u));
    margin-bottom: 20px;
}

.head-news--descrip {
    font-size: calc(var(--scale) * 0.85 * var(--fsz-base-u));
    color: var(--clr-gs-6);
}
