@use "../../include-media" as *;

.news-list {
    padding: 7vmin;
}

.news-list--heading {
    margin-top: 10vh;
    margin-bottom: 4vh;
}

.news-list--section {
}

.news-list--section--more-btn {
    display: block;
    width: 50%;
    margin: calc(var(--scale) * 36px) auto;
    padding: calc(var(--scale) * 15px) calc(var(--scale) * 10px);
    font-weight: bold;

    font-size: calc(var(--scale) * 1.2 * var(--fsz-base-u));
}

.news-list--card-col {
    padding: calc(var(--scale) * 24px) 0;
}

.news-list--pic-col {
    padding: calc(var(--scale) * 24px) 0;
}

.news-list--pic {
    aspect-ratio: 3/2;
    width: 100%;
}

.news-list--card {
    width: 100%;
}

.news-list--section-more {
    margin: 36px 0;
}

.news-list--section-more--more-btn-wrapper {
    width: 100%;
}

.news-list--section-more--more-btn {
    width: 25%;
    min-width: 250px;
    margin: 0 0 36px 0;
    font-weight: bold;

    font-size: calc(var(--scale) * 1.2 * var(--fsz-base-u));
}

@include media(">=x-large") {
    .news-list--section--more-btn {
        display: none;
    }
}

@include media("<large") {
    .news-list--section--more-btn {
        width: 100%;
    }
}

@include media($xl...) {
    .news-list {
        .news-list--pic {
            --scale: 0.85;
        }
    }
}

@include media($lg...) {
    .news-list {
        --scale: 0.9;

        .news-list--heading {
            --scale: 0.9;
        }

        .news-list--pic {
            --scale: 0.85;
        }

        .news-list--card {
            --scale: 0.85;
        }
    }
}

@include media($md...) {
    .news-list {
        --scale: 0.9;

        .news-list--heading {
            --scale: 0.8;
        }

        .news-list--pic {
            --scale: 0.67;
        }
        .news-list--card {
            --scale: 0.8;
        }
    }
}

@include media($sm...) {
    .news-list {
        --scale: 0.9;

        .news-list--heading {
            --scale: 0.7;
        }

        .news-list--pic {
            --scale: 1;
        }
        .news-list--card {
            --scale: 0.7;
        }
    }
}

@include media($xsr...) {
    .news-list {
        --scale: 0.9;

        .news-list--heading {
            --scale: 0.6;
        }

        .news-list--pic {
            --scale: 0.65;
        }
        .news-list--card {
            --scale: 0.52;
            height: 110px;
            // Polyfill aspect-ratio
            .ant-image {
                max-width: 110px;
            }
        }
    }
}

@include media($xsl...) {
    .news-list {
        --scale: 0.9;

        .news-list--heading {
            --scale: 0.6;
        }

        .news-list--pic {
            --scale: 0.6;
        }
        .news-list--card {
            height: 100px;
            --scale: 0.48;

            // Polyfill aspect-ratio
            .ant-image {
                max-width: 110px;
            }
        }
    }
}
