@use "../../include-media" as *;

.news-list {
    padding: 0 60px;
}

.news-list--heading {
    margin-top: 100px;
}

.news-list--section {
}

.news-list--section--more-btn {
    display: block;
    width: 50%;
    margin: 36px auto;
    padding: 15px 10px;
    font-size: var(--fsz-base);
    font-weight: bold;
}

.news-list--card-col {
    padding: 24px 0;
}

.news-list--pic-col {
    padding: 18px 0;
}

.news-list--pic {
    aspect-ratio: 3/2;
    width: 100%;
}

.news-list--card {
    width: 100%;
}

.news-list--section-more {
    margin: 36px 0;
}

.news-list--section-more--more-btn-wrapper {
    width: 100%;
}

.news-list--section-more--more-btn {
    width: 25%;
    min-width: 150px;
    margin: 0 0 36px 0;
    font-size: var(--fsz-base);
    font-weight: bold;
}

@include media(">=x-large") {
    .news-list--section--more-btn {
        display: none;
    }
}

@include media("<large") {
    .news-list--section--more-btn {
        width: 100%;
    }
}

@include media($lg...) {
    .news-list {
        padding: 0 60px;
    }
}

@include media($md...) {
    .news-list {
        padding: 0 48px;
    }
}

@include media($sm...) {
    .news-list {
        padding: 0 36px;
    }
}

@include media($xs...) {
    .news-list {
        padding: 0 24px;
    }
    .news-list--section--more-btn,
    .news-list--section-more--more-btn {
        font-size: calc(0.75 * var(--fsz-base));
        padding: 10px 5px;
    }
    .news-list--heading {
        margin-bottom: 30px;
    }
}
