@use "../../include-media" as *;

.news-page {
}

//* 页面主要内容（除了图片）
.news-page--main {
    padding: 0 5vw;
    position: relative;
    top: -40vh;
}

.news-page--bg {
    object-fit: cover;
    height: 100vh;
    width: 100vw;
    position: sticky;
    top: 0;
}

@include media("<large") {
    .news-page--bg {
        height: auto;
        position: static;
    }

    .news-page--main {
        top: -10vw;
    }
}

.news-page--news {
    align-items: flex-start;
    padding: calc(var(--scale) * 36px) calc(var(--scale) * 24px);
    background-color: var(--clr-gs-0);
    border-radius: 15px;
    box-shadow: rgb(0 0 0 / 50%) 0 0 10px 2px;
}

.news-page--news--share-bar--docked {
    padding-top: 10px;
    position: sticky;
    top: 100px;
}

.news-page--news--share-bar--inline {
    float: right;
    margin-bottom: calc(var(--scale) * 36px);
    display: none;
}

.news-page--news--content {
    * {
        color: var(--clr-gs-6);
    }
    width: 1px;
    flex: 1;
    padding-left: calc(var(--scale) * 36px);
}

.news-page--news--heading {
    font-size: calc(var(--scale) * 1.5 * var(--fsz-base));
    font-weight: bold;
}

.news-page--news--info {
    margin: calc(var(--scale) * 24px) 0 calc(var(--scale) * 36px) 0;

    // 作者
    div span:first-child {
        margin-right: calc(var(--scale) * 20px);
    }
}

.news-page--news--more-btn {
    width: 100%;
    display: block;
    padding-top: 12px;
    transition: opacity 400ms ease-in-out;
    div {
        color: var(--clr-blue-vary);
        transition: color 400ms ease-in-out;
        font-size: calc(1.15 * var(--fsz-base-u));
    }
    svg {
        width: calc(var(--scale) * 36px);
        height: calc(var(--scale) * 36px);
        fill: var(--clr-blue-vary);
        transition: fill 400ms ease-in-out;
    }
}

.news-page--news--more-btn:hover {
    div {
        color: white;
    }
    svg {
        width: 24px;
        height: 24px;
        fill: white;
    }
}

.news-page--more {
    background-color: var(--clr-gs-0);
    border-radius: 15px;
    padding: calc(var(--scale) * 48px) calc(var(--scale) * 24px);
    box-shadow: rgb(0 0 0 / 50%) 0 0 10px 2px;
    overflow-y: hidden;
}

.news-page--more-wrapper {
    width: 100%;
}

@include media(">=large") {
}

.news-page--more--card {
    margin-bottom: 24px;
    height: 100px;
    //* 仅对news-card生效
    --scale: 0.7;
}

.news-page--news--markdown {
    clear: both;
    margin-bottom: calc(var(--scale) * 24px);
    line-height: calc(var(--scale) * 1.3 * var(--fsz-base));

    p,
    strong,
    a,
    th,
    td,
    li {
        font-size: calc(var(--scale) * 0.8 * var(--fsz-base));
        word-wrap: break-word;
        margin: calc(var(--scale) * 18px) 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-weight: bold;
        line-height: 1.5em;
    }

    h1 {
        margin-top: calc(var(--scale) * 36px);
        font-size: calc(var(--scale) * 1.4 * var(--fsz-base));
    }

    h2 {
        margin-top: calc(var(--scale) * 30px);
        font-size: calc(var(--scale) * 1.2 * var(--fsz-base));
    }

    h3 {
        margin-top: calc(var(--scale) * 24px);
        font-size: calc(var(--scale) * 1.1 * var(--fsz-base));
    }

    h4 {
        margin-top: calc(var(--scale) * 18px);
        font-size: calc(var(--scale) * 1.05 * var(--fsz-base));
    }

    h5 {
        margin-top: calc(var(--scale) * 18px);
        font-size: calc(var(--scale) * 1 * var(--fsz-base));
    }

    img {
        width: 100%;
        margin: calc(var(--scale) * 28px) 0;
    }

    table {
        th {
            border: 2px solid var(--clr-gs-6);
            font-weight: bold;
            padding: 10px 5px;
        }
        td {
            border: 1px solid var(--clr-gs-6);
            padding: 5px;
        }
    }

    a {
        text-decoration: underline;
        color: var(--clr-blue-vary);
    }

    a:hover {
        color: var(--clr-blue-dark);
    }

    li {
        margin: calc(var(--scale) * 12px) 0;
    }
}

@include media($xxl...) {
    .news-page {
        --scale: 1.25;
    }
}

@include media($xl...) {
    .news-page {
        --scale: 1.1;
    }
}

@include media($lg...) {
    .news-page {
        --scale: 1;
    }

    .news-page--more--card {
        height: 100px;
        --scale: 0.6;
    }
}

@include media($md...) {
    .news-page {
        --scale: 0.9;
    }
    .news-page--more--card {
        height: 140px;
        --scale: 0.8;
    }
}

@include media($sm...) {
    .news-page {
        --scale: 0.85;
    }
    .news-page--more--card {
        height: 130px;
        --scale: 0.7;
    }
}

@include media($xs...) {
    .news-page--news--content {
        padding-left: 0;
    }

    .news-page--news--share-bar--docked {
        display: none;
    }
    .news-page--news--share-bar--inline {
        display: flex;
    }

    .news-page--news--info {
        flex-direction: column;
        align-items: flex-end;
        word-break: keep-all;
    }
}

@include media($xsr...) {
    .news-page {
        --scale: 0.8;
    }

    .news-page--more--card {
        height: 100px;
        --scale: 0.5;
        // Polyfill aspect-ratio
        .ant-image {
            max-width: 100px;
        }
    }

    .news-page--news--heading {
        --scale: 0.6;
    }
}

@include media($xsl...) {
    .news-page {
        --scale: 0.8;
    }
    .news-page--more--card {
        height: 90px;
        --scale: 0.45;

        // Polyfill aspect-ratio
        .ant-image {
            max-width: 90px;
        }
    }

    .news-page--news--heading {
        --scale: 0.55;
    }
}
