<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name='viewport' content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="遥感信息大学生创新创业中心成立，旨在创造师生可以利用的创新创业空间环境，探索有效的全过程大学生创新创业项目指导与管理措施，研究对大学生创新创业热情的引导和激励机制，培养培育出一批优秀大学生创新创业人才及项目成果。">
    <meta name='author' content="RS+ Web Development Team">
    <title>"遥感+"俱乐部——遥感信息大学生创新创业中心</title>
</head>

<body>
    <div id='root'></div>
</body>

</html>